.register.modal-overlay {
  padding-block: 80px;
}
.register .edit-form {
  overflow-x: hidden;
  max-height: 100%;
}
.edit-form > .button-svg {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
fieldset {
  border-radius: var(--border-radius);
}
legend {
  margin-inline-start: 1rem;
  padding-inline: 0.2rem;
  font-size: var(--font-size);
}
fieldset.button-container {
  justify-content: space-around;
}
fieldset .form-input {
  margin-block: 1rem;
}
fieldset .form-input .form-control[type="radio"] {
  outline: unset;
  box-shadow: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50px;
  padding: 0;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.1s border ease;
}

fieldset .form-input .form-control[type="radio"]:checked {
  border: 5px solid var(--primary-color);
}
.step-content-demo .form-input.disabled {
  margin-inline: 2rem;
}
.form-extra-pages-container,
.author-pin {
  overflow-y: hidden;
}
.form-article .form-input {
  margin-block: 0.5rem;
}
.form-extra-pages-container .form-input,
.author-pin .form-input {
  transform: translateY(0);
  transition: transform 0.3s ease-out;
  @starting-style {
    transform: translateY(-100%);
  }
}
.form-extra-pages-container .form-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.form-article .form-input input {
  margin: 0;
  padding: 0.2rem 0.4rem;
}
.form-article .form-input input[type="number"] {
  max-width: 4rem;
}
.author-pin .form-input {
  padding-inline: 2rem;
  margin-block: 1rem;
}
.toggle-pin {
  margin-block-end: 0;
}
