.form-input,
.input-group {
  margin-block: 20px;
}
.form-input .form-control,
.form-input textarea {
  border: solid rgba(128, 128, 128, 0.37) 1px;
  margin-block-start: 5px;
  font-size: var(--font-size);
  padding: clamp(2px, 2vw, 10px) clamp(4px, 4vw, 20px);
  background-color: white;
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  outline: solid #d2367a00 2px;
  transition: outline 0.2s ease-out, box-shadow 0.2s ease-out,
    color 0.2s ease-out, border 0.2s ease-out;
}
.form-input input:disabled {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
  cursor: text;
}
.form-input .form-control:hover {
  border: solid var(--primary-color) 1px;
}
.form-input input:focus-visible {
  border: solid var(--primary-color) 1px;
  outline: solid var(--primary-color-50) 2px;
}
label {
  margin-bottom: 5px;
}
.required-symbol {
  color: orangered;
}

.form-input.radio,
.form-input.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.form-input.radio label,
.form-input.radio input,
.form-input.checkbox label,
.form-input.checkbox input {
  margin: 0;
  width: auto;
}

.form-input.checkbox input,
.form-input.checkbox input:focus {
  outline: unset;
}

.form-input.checkbox label {
  font-weight: bold;
}
.form-input .form-control.PhoneInput {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: unset;
}
.form-input .PhoneInputCountry {
  display: flex;
  align-items: center;
  padding: clamp(2px, 2vw, 10px) clamp(4px, 4vw, 20px);
  border-right: solid rgba(128, 128, 128, 0.507) 2px;
}
.form-input .PhoneInputCountry select {
  font-size: var(--font-size);
  background-color: unset;
  border: none;
  max-width: 100px;
}
.form-input .PhoneInputCountry svg {
  display: none;
}
.form-input .PhoneInput input {
  width: unset;
  border: none;
  outline: none;
  box-shadow: none;
  padding: clamp(2px, 2vw, 10px) clamp(4px, 4vw, 20px);
  border-radius: inherit;
  flex: 1;
}
