.authors-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(1fr);
  gap: 1rem;
}
.author-card {
  display: flex;
  flex-direction: column;
}
.fetch-result {
  margin-block: 5px;
}
.p-dropdown {
  width: 160px;
  font-weight: 500;
  padding: 0.5rem 0.8rem;
  border-radius: var(--border-radius);
  border: solid 1px #f1f1f1;
  background: linear-gradient(40deg, #ffffff 0%, #f1f1f1 100%);
}
.p-dropdown-filter-container {
  display: flex;
  align-items: center;
  background-color: white;
  height: 2rem;
  padding-inline: 1rem;
  margin: 5px;
  border-radius: var(--border-radius);
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2));
}
.flag-icon {
  border-radius: 3px;
}
.p-dropdown-panel {
  max-width: 200px;
}
.p-dropdown-label {
  padding-inline: 0.5rem;
  white-space: none;
  text-overflow: ellipsis;
}
.p-dropdown-item {
  position: relative;
}
.p-dropdown-item-label {
  width: 100%;
}
.p-dropdown-item-label > div {
  overflow-x: hidden;
  white-space: none;
  text-overflow: ellipsis;
}
input.p-dropdown-filter {
  border: none;
  font-size: 1rem;
  padding: 0.2rem;
}
input.p-dropdown-filter:focus-visible {
  outline: none;
}
.p-dropdown-filter-icon {
  position: unset;
}
