.authors-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(1fr);
  gap: 1rem;
}
.author-card {
  display: flex;
  flex-direction: column;
}
h1 .flag-icon {
  margin-inline: 0.5rem;
}
.fetch-result {
  margin-block: 5px;
}
.country-title {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 700;
}
