.admin-nav {
  display: flex;
  justify-content: space-between;
}
.link-container {
  display: flex;
  justify-content: start;
  align-items: center;
}
.nav-title {
  color: var(--primary-color);
  margin-inline-end: 20px;
  font-weight: 700;
  user-select: none;
  cursor: pointer;
}
.admin-nav .nav-links {
  align-items: center;
}
@media screen and (max-width: 800px) {
  .admin-nav .nav-links {
    align-items: start;
  }
  .logout-button {
    width: 100%;
    border-radius: 5px;
  }
}
