.chat-room-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline: 2rem 1rem;
  background-color: white;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.chat-room-messages {
  padding: 0.8rem 1.2rem;
  display: flex;
  flex-direction: column-reverse;
  height: clamp(200px, 50dvh, 400px);
  overflow-y: scroll;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.chat-room-messages .messages-group {
  display: flex;
  align-items: flex-end;
  gap: 0.3rem;
  padding: 0.2rem;
  max-width: 75%;
}

.chat-room-messages .messages-group.current-user {
  margin-left: auto;
  flex-direction: row-reverse;
}

.chat-room-messages .messages-group .div-icon {
  padding: 0.5rem;
  font-weight: 600;
  background-color: orange;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.chat-room-messages .messages {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.2rem;
}
.messages-group.current-user .messages {
  align-items: flex-end;
}

.chat-room-messages .message {
  width: fit-content;
  padding: 0.5rem 0.8rem;
  border-radius: 1.2rem;
  color: white;
  background-color: var(--secondary-color);
  position: relative;
}

.chat-room-messages .messages-group.current-user .message {
  background-color: var(--primary-color);
}
.messages-group.current-user .message:not(:first-child) {
  border-bottom-right-radius: 0.5rem;
}
.messages-group.current-user .message:not(:last-of-type) {
  border-top-right-radius: 0.5rem;
}
.messages-group:not(.current-user) .message:not(:first-child) {
  border-bottom-left-radius: 0.5rem;
}
.messages-group:not(.current-user) .message:not(:last-of-type) {
  border-top-left-radius: 0.5rem;
}
.chat-room-messages .message .message-time {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(calc(100% + 0.5rem), -50%);
  color: gray;
  font-size: calc(var(--font-size) * 0.8);
  display: none;
}
.messages-group.current-user .message .message-time {
  right: unset;
  left: 0;
  transform: translate(calc(-100% - 0.5rem), -50%);
}
.chat-room-messages .message:hover .message-time {
  display: block;
}
/* Optional adjustment if you want to force alignment on admin messages */
.chat-room-messages .messages-group.admin .message {
  margin-left: auto;
}

.chat-room-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
  padding: 0.5rem clamp(0.5rem, 5%, 2rem);
  background-color: white;
  margin: 0.6rem;
  border-radius: var(--border-radius);
}
.chat-room-form .display-error {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 50%;
  transform: translate(-50%, 0);
  background-color: red;
  color: white;
  z-index: 100000;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
  font-size: var(--font-size);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  opacity: 1;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  @starting-style {
    transform: translate(-50%, 10px);
    opacity: 0;
  }
}
.chat-room-form input {
  border: none;
  outline: none;
  background-color: transparent;
  flex: 1;
  max-width: 80%;
  font-size: var(--font-size);
}
.chat-room-form .button-icon {
  background-color: var(--primary-color);
  color: white;
  padding-inline: 1rem;
}
.chat-room-form .button-icon:disabled {
  background-color: gray;
}
