.fees-table {
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
}

.region {
  margin-bottom: 40px;
  text-align: center;
}

.region h2 {
  font-size: var(--title-font-size);
  color: var(--secondary-color);
  margin-bottom: 10px;
  border-bottom: 2px solid var(--primary-color);
  display: inline-block;
  padding-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: clamp(5px, 1vw, 12px);
  border: 1px solid #ddd;
  text-align: center;
  font-size: var(--font-size);
  background-color: #f9f9f9;
}

th {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
}

tr:nth-child(even) td {
  background-color: #f1f1f1;
}

td:last-child {
  font-style: italic;
  color: #555;
}
