.committee {
  padding-block: 1rem;
}
.roles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  justify-content: center;
  max-width: 800px;
  margin-inline: auto;
}
.committee-role {
  padding: 0.5rem;
  /* width: 100%; */
  /* text-align: center; */

  margin-inline: auto;
}
.committee-role:has(h3) {
  width: 100%;
}
