.important-info {
  color: var(--primary-color);
  font-weight: 600;
}
ul {
  list-style-type: none;
}
.important-dates li {
  margin-inline-start: 10px;
}
section.home-section {
  margin-bottom: 100px;
  position: relative;
}
.section-content {
  margin-inline-start: 10px;
}
section.important-dates {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-icon {
  height: 100%;
}
.topics p {
  margin-bottom: 10px;
}
.alternative-background {
  background-color: var(--primary-color);
  color: white;
}
.send-your-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 5px solid var(--primary-color);
  border-radius: var(--border-radius);
}
.send-your-articles > section {
  width: 50%;
  padding: 10px 20px;
  aspect-ratio: 1/1;
}
.send-your-articles > .alternative-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .send-your-articles {
    flex-direction: column;
    max-width: 500px;
    margin: auto;
  }
  .send-your-articles > section {
    width: 100%;
    aspect-ratio: 16/12;
  }
}
.text-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-block: 1rem;
}

.scroll-velocity {
  margin-block: 10px;
}
