.important-info {
  color: var(--primary-color);
  font-weight: 600;
}
ul {
  list-style-type: none;
}
.important-dates li {
  margin-inline-start: 10px;
}
section.section {
  margin-bottom: 150px;
}
.section-content {
  margin-inline-start: 10px;
}
section.important-dates {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-icon {
  height: 100%;
}
.topics p {
  margin-bottom: 10px;
}
.alternative-background {
  background-color: var(--primary-color);
  color: white;
}
.sub-title {
  font-size: 1.2rem;
  font-weight: 500;
}
.link {
  /* text-decoration: none; */
  font-weight: 600;
}
.send-your-articles {
  display: flex;
  justify-content: space-between;
  border: 5px solid var(--primary-color);
  border-radius: var(--border-radius);
}
.send-your-articles > section {
  width: 50%;
  padding: 10px 20px;
  aspect-ratio: 1/1;
}
.send-your-articles > .alternative-background {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
