.page-title {
  padding-block-start: clamp(40px, 6dvh, 100px);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.page-title > * {
  /* filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.2)); */
  filter: drop-shadow(0 0 2px rgb(0, 0, 0));
  padding-inline: 20px;

  /* border-radius: 10px;
  padding: 5px 20px;
  background-color: var(--primary-color); */
}
.page-title .title {
  font-size: var(--header-title-font-size);
}
.page-title .title span {
  margin-inline: 0.1rem;
  font-variation-settings: "slnt" 0, "wdth" 125, "GRAD" 150, "XOPQ" 96,
    "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514,
    "YTUC" 712;
  font-weight: 900;
}
.page-title p {
  font-weight: 600;
}
