:root {
  --thumb-size: 20px;
  --track-height: 8px;
}

/* Style général */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: var(--track-height);
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
}

/* Thumb animé */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transform: scale(0.7);
  transition: transform 0.2s ease;
}

input[type="range"]::-moz-range-thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: var(--primary-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(0.7);
  transition: transform 0.2s ease;
}

/* effet de grossissement du thumb */
input[type="range"].dragging::-webkit-slider-thumb {
  transform: scale(0.9);
}

input[type="range"].dragging::-moz-range-thumb {
  transform: scale(0.9);
}

/* Désactivé */
input[type="range"]:disabled {
  cursor: not-allowed;
  filter: grayscale(100%);
}

input[type="range"]:disabled::-webkit-slider-thumb {
  background: #aaa;
}

input[type="range"]:disabled::-moz-range-thumb {
  background: #aaa;
}
