.feedback-container {
  position: fixed;
  top: calc(var(--nav-bar-height) + 1rem);
  right: clamp(1rem, 5vw, 2rem);
  width: clamp(200px, 25vw, 500px);
  z-index: 999999;
}
.status-feedback {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 1.2rem;
  width: 100%;
  overflow: hidden;
}
.status-feedback.success {
  color: #1ea97c;
  backdrop-filter: blur(5px);
  background-color: rgba(228, 248, 240, 0.85);
}
.status-feedback.error {
  color: #df2b3a;
  backdrop-filter: blur(5px);
  background-color: rgba(248, 228, 231, 0.85);
}
.status-feedback::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 7px;
  height: 100%;
}

.status-feedback.success::after {
  background-color: #1ea97c;
}
.status-feedback.error::after {
  background-color: #df2b3a;
}
