.sponsors {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 1rem;
  justify-content: center;
}
footer .title {
  color: white;
}
footer {
  padding-block: 10px;
  background-color: var(--secondary-color);
  color: white;
}
.sponsor {
  text-align: center;
}
.sponsor img {
  height: clamp(2.5rem, 10vw, 5rem);
  object-fit: cover;
  aspect-ratio: 2/1;
  border-radius: 10px;
}
