:root {
  --sponsor-image-height: clamp(2.5rem, 2.5vw, 5rem);
}

footer {
  padding-block: 10px;
  background-color: var(--secondary-color);
  color: white;
  padding-inline: var(--text-padding);
}
footer .footer-top {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .sponsor-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sponsors {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 1rem;
  justify-content: center;
}
footer .title {
  color: white;
  font-size: var(--card-title);
}

.sponsor {
  text-align: center;
  flex: 1;
  max-width: calc(var(--sponsor-image-height) * 2);
  margin-inline: 0.2rem;
}
.sponsor img {
  height: var(--sponsor-image-height);
  object-fit: cover;
  aspect-ratio: 2/1;
  border-radius: 10px;
}
footer .contact {
  padding: 0.5rem;
}
footer .link {
  color: white;
}
footer .contact .link {
  display: block;
}
.footer-links {
  text-align: center;
  padding-block: 0.5rem;
}
.footer-links .link {
  margin-right: 1rem;
}
footer .contact svg {
  height: var(--font-size);
}
