.page-button:disabled {
  border: solid 1px gray;
  cursor: not-allowed;
}
.article-card.card {
  display: flex;
  flex-wrap: wrap;
}
.p-dropdown.status-dropdown {
  min-width: 160px;
  font-weight: 500;
  border-radius: var(--border-radius);
}

.p-dropdown.status-dropdown.status-pending {
  border: 1px solid #f1e6c2;
  background: linear-gradient(40deg, #f1e6c2 0%, #fffbe6 100%);
  transition: border 0.2s ease-out, filter 0.2s ease-out;
}
.p-dropdown.status-dropdown.status-pending:hover {
  border: 1px solid #d3b963;
  /* filter: drop-shadow(0 0 3px #d3b96369); */
}

.p-dropdown.status-dropdown.status-accepted {
  border: 1px solid #c6efd8;
  background: linear-gradient(40deg, #c6efd8 0%, #e6ffed 100%);
  transition: border 0.2s ease-out;
}
.p-dropdown.status-dropdown.status-accepted:hover {
  border: 1px solid #28a745;
}

.p-dropdown.status-dropdown.status-rejected {
  border: 1px solid #f7c6cc;
  background: linear-gradient(40deg, #f7c6cc 0%, #ffe6e9 100%);
  transition: border 0.2s ease-out;
}
.p-dropdown.status-dropdown.status-rejected:hover {
  border: 1px solid #dc3545;
}

/* Label du dropdown */
.status-dropdown .p-dropdown-label {
  color: #333;
}

/* Le composant label aussi avec icônes centrées */
.status-option {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Couleurs des icônes */
.icon-pending {
  color: #d3b963;
}

.icon-accepted {
  color: #28a745;
}

.icon-rejected {
  color: #dc3545;
}
/* .icon-accepted,
.icon-pending,
.icon-rejected {
} */
